In [1]:
import turicreate

In [2]:
titanic_train_data = turicreate.SFrame.read_csv("../datas/titanic/train.csv" , header=True)

Finished parsing file /home/avisek/Desktop/work/machine_learning/kaggle/datas/titanic/train.csv

Parsing completed. Parsed 100 lines in 0.140181 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/avisek/Desktop/work/machine_learning/kaggle/datas/titanic/train.csv

Parsing completed. Parsed 891 lines in 0.052962 secs.

In [3]:
titanic_train_data.head()

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str

Rows: 10

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  | female |
+-------------+----------+--------+--------------------------------+--------+
+------+-------+-------+------------------+---------+-------+----------+
| Age  | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+------+-------+-------+------------------+---------+-------+----------+
| 22.0 |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |
| 38.0 |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |
| 26.0 |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |
| 35.0 |   1   |   0   |      113803      |   53.1  |  C123 |    S     |
| 35.0 |   0   |   0   |      373450      |   8.05  |       |    S     |
| None |   0   |   0   |      330877      |  8.4583 |       |    Q     |
| 54.0 |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |
| 2.0  |   3   |   1   |      349909      |  21.075 |       |    S     |
| 27.0 |   0   |   2   |      347742      | 11.1333 |       |    S     |
| 14.0 |   1   |   0   |      237736      | 30.0708 |       |    C     |
+------+-------+-------+------------------+---------+-------+----------+
[10 rows x 12 columns]

In [4]:
titanic_train_data.head(20)

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str

Rows: 20

Data:
+-------------+----------+--------+--------------------------------+--------+
| PassengerId | Survived | Pclass |              Name              |  Sex   |
+-------------+----------+--------+--------------------------------+--------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  male  |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  | female |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     | female |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  | female |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  male  |
|      6      |    0     |   3    |        Moran, Mr. James        |  male  |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  male  |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  male  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  | female |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  | female |
+-------------+----------+--------+--------------------------------+--------+
+------+-------+-------+------------------+---------+-------+----------+
| Age  | SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+------+-------+-------+------------------+---------+-------+----------+
| 22.0 |   1   |   0   |    A/5 21171     |   7.25  |       |    S     |
| 38.0 |   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |
| 26.0 |   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |
| 35.0 |   1   |   0   |      113803      |   53.1  |  C123 |    S     |
| 35.0 |   0   |   0   |      373450      |   8.05  |       |    S     |
| None |   0   |   0   |      330877      |  8.4583 |       |    Q     |
| 54.0 |   0   |   0   |      17463       | 51.8625 |  E46  |    S     |
| 2.0  |   3   |   1   |      349909      |  21.075 |       |    S     |
| 27.0 |   0   |   2   |      347742      | 11.1333 |       |    S     |
| 14.0 |   1   |   0   |      237736      | 30.0708 |       |    C     |
+------+-------+-------+------------------+---------+-------+----------+
[20 rows x 12 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [5]:
titanic_train_data.show()

Materializing SFrame

In [6]:
titanic_train_data.explore()

/home/avisek/anaconda3/lib/python3.7/site-packages/turicreate/visualization/_plot.py:461: UserWarning: Displaying only the first 100 rows.
  warnings.warn("Displaying only the first {} rows.".format(maximum_rows))

In [7]:
titanic_test_data = turicreate.SFrame.read_csv("../datas/titanic/test.csv" , header=True)

Finished parsing file /home/avisek/Desktop/work/machine_learning/kaggle/datas/titanic/test.csv

Parsing completed. Parsed 100 lines in 0.046504 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,int,str,str,float,int,int,str,float,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /home/avisek/Desktop/work/machine_learning/kaggle/datas/titanic/test.csv

Parsing completed. Parsed 418 lines in 0.04262 secs.

# Creating a histogram

In [8]:
turicreate.visualization.histogram(titanic_train_data['Fare'])

Materializing SArray

In [9]:
rich_passenger = titanic_train_data[titanic_train_data["Fare"] >= 495]

In [10]:
rich_passenger.head()

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	str
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str

Rows: 3

Data:
+-------------+----------+--------+-------------------------------+--------+
| PassengerId | Survived | Pclass |              Name             |  Sex   |
+-------------+----------+--------+-------------------------------+--------+
|     259     |    1     |   1    |        Ward, Miss. Anna       | female |
|     680     |    1     |   1    | Cardeza, Mr. Thomas Drake ... |  male  |
|     738     |    1     |   1    |     Lesurer, Mr. Gustave J    |  male  |
+-------------+----------+--------+-------------------------------+--------+
+------+-------+-------+----------+----------+-------------+----------+
| Age  | SibSp | Parch |  Ticket  |   Fare   |    Cabin    | Embarked |
+------+-------+-------+----------+----------+-------------+----------+
| 35.0 |   0   |   0   | PC 17755 | 512.3292 |             |    C     |
| 36.0 |   0   |   1   | PC 17755 | 512.3292 | B51 B53 B55 |    C     |
| 35.0 |   0   |   0   | PC 17755 | 512.3292 |     B101    |    C     |
+------+-------+-------+----------+----------+-------------+----------+
[3 rows x 12 columns]

# Performing data wrangling

In [12]:
#providing a discreate value for the sex column using the apply function
def make_sex_column_discreate(gender):
    if gender=="female":
        return 0
    else:
        return 1
    
titanic_train_data['Sex'] = titanic_train_data['Sex'].apply(make_sex_column_discreate)
titanic_train_data

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Name	str
	Sex	int
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	str

Rows: 891

Data:
+-------------+----------+--------+--------------------------------+-----+------+
| PassengerId | Survived | Pclass |              Name              | Sex | Age  |
+-------------+----------+--------+--------------------------------+-----+------+
|      1      |    0     |   3    |    Braund, Mr. Owen Harris     |  1  | 22.0 |
|      2      |    1     |   1    | Cumings, Mrs. John Bradley...  |  0  | 38.0 |
|      3      |    1     |   3    |     Heikkinen, Miss. Laina     |  0  | 26.0 |
|      4      |    1     |   1    | Futrelle, Mrs. Jacques Hea...  |  0  | 35.0 |
|      5      |    0     |   3    |    Allen, Mr. William Henry    |  1  | 35.0 |
|      6      |    0     |   3    |        Moran, Mr. James        |  1  | None |
|      7      |    0     |   1    |    McCarthy, Mr. Timothy J     |  1  | 54.0 |
|      8      |    0     |   3    | Palsson, Master. Gosta Leonard |  1  | 2.0  |
|      9      |    1     |   3    | Johnson, Mrs. Oscar W (Eli...  |  0  | 27.0 |
|      10     |    1     |   2    | Nasser, Mrs. Nicholas (Ade...  |  0  | 14.0 |
+-------------+----------+--------+--------------------------------+-----+------+
+-------+-------+------------------+---------+-------+----------+
| SibSp | Parch |      Ticket      |   Fare  | Cabin | Embarked |
+-------+-------+------------------+---------+-------+----------+
|   1   |   0   |    A/5 21171     |   7.25  |       |    S     |
|   1   |   0   |     PC 17599     | 71.2833 |  C85  |    C     |
|   0   |   0   | STON/O2. 3101282 |  7.925  |       |    S     |
|   1   |   0   |      113803      |   53.1  |  C123 |    S     |
|   0   |   0   |      373450      |   8.05  |       |    S     |
|   0   |   0   |      330877      |  8.4583 |       |    Q     |
|   0   |   0   |      17463       | 51.8625 |  E46  |    S     |
|   3   |   1   |      349909      |  21.075 |       |    S     |
|   0   |   2   |      347742      | 11.1333 |       |    S     |
|   1   |   0   |      237736      | 30.0708 |       |    C     |
+-------+-------+------------------+---------+-------+----------+
[891 rows x 12 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [13]:
titanic_train_data.remove_columns(column_names=['Name' , 'Age' , 'Fare' , 'Ticket'] , inplace=True)

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Sex	int
	SibSp	int
	Parch	int
	Cabin	str
	Embarked	str

Rows: 891

Data:
+-------------+----------+--------+-----+-------+-------+-------+----------+
| PassengerId | Survived | Pclass | Sex | SibSp | Parch | Cabin | Embarked |
+-------------+----------+--------+-----+-------+-------+-------+----------+
|      1      |    0     |   3    |  1  |   1   |   0   |       |    S     |
|      2      |    1     |   1    |  0  |   1   |   0   |  C85  |    C     |
|      3      |    1     |   3    |  0  |   0   |   0   |       |    S     |
|      4      |    1     |   1    |  0  |   1   |   0   |  C123 |    S     |
|      5      |    0     |   3    |  1  |   0   |   0   |       |    S     |
|      6      |    0     |   3    |  1  |   0   |   0   |       |    Q     |
|      7      |    0     |   1    |  1  |   0   |   0   |  E46  |    S     |
|      8      |    0     |   3    |  1  |   3   |   1   |       |    S     |
|      9      |    1     |   3    |  0  |   0   |   2   |       |    S     |
|      10     |    1     |   2    |  0  |   1   |   0   |       |    C     |
+-------------+----------+--------+-----+-------+-------+-------+----------+
[891 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [14]:
def modify_embarked(s):
    if s=="C":
        return 0
    elif s=="S":
        return 1
    else:
        return 2
    
titanic_train_data['Embarked'] = titanic_train_data['Embarked'].apply(modify_embarked)

In [15]:
titanic_train_data

Columns:
	PassengerId	int
	Survived	int
	Pclass	int
	Sex	int
	SibSp	int
	Parch	int
	Cabin	str
	Embarked	int

Rows: 891

Data:
+-------------+----------+--------+-----+-------+-------+-------+----------+
| PassengerId | Survived | Pclass | Sex | SibSp | Parch | Cabin | Embarked |
+-------------+----------+--------+-----+-------+-------+-------+----------+
|      1      |    0     |   3    |  1  |   1   |   0   |       |    1     |
|      2      |    1     |   1    |  0  |   1   |   0   |  C85  |    0     |
|      3      |    1     |   3    |  0  |   0   |   0   |       |    1     |
|      4      |    1     |   1    |  0  |   1   |   0   |  C123 |    1     |
|      5      |    0     |   3    |  1  |   0   |   0   |       |    1     |
|      6      |    0     |   3    |  1  |   0   |   0   |       |    2     |
|      7      |    0     |   1    |  1  |   0   |   0   |  E46  |    1     |
|      8      |    0     |   3    |  1  |   3   |   1   |       |    1     |
|      9      |    1     |   3    |  0  |   0   |   2   |       |    1     |
|      10     |    1     |   2    |  0  |   1   |   0   |       |    0     |
+-------------+----------+--------+-----+-------+-------+-------+----------+
[891 rows x 8 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [17]:
turicreate.visualization.item_frequency(titanic_train_data["Cabin"])

Materializing SArray

In [18]:
#Creating logistic regression model
my_model = turicreate.logistic_classifier.create(titanic_train_data , target = "Survived" , features=['Pclass' , 'Sex' , 'SibSp' , 'Parch' , 'Embarked'])

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

Logistic regression:

--------------------------------------------------------

Number of examples          : 846

Number of classes           : 2

Number of feature columns   : 5

Number of unpacked features : 5

Number of coefficients      : 6

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+-------------------+---------------------+

| Iteration | Passes   | Elapsed Time | Training Accuracy | Validation Accuracy |

+-----------+----------+--------------+-------------------+---------------------+

| 1         | 2        | 1.003413     | 0.791962          | 0.777778            |

| 2         | 3        | 1.007790     | 0.803783          | 0.755556            |

| 3         | 4        | 1.013333     | 0.803783          | 0.755556            |

| 4         | 5        | 1.028979     | 0.803783          | 0.755556            |

+-----------+----------+--------------+-------------------+---------------------+

SUCCESS: Optimal solution found.

In [19]:
#Data Wrangling for the test set
titanic_test_data['Sex'] = titanic_test_data['Sex'].apply(make_sex_column_discreate)

In [20]:
titanic_test_data['Embarked'] = titanic_test_data['Embarked'].apply(modify_embarked)

In [22]:
#Evaluating the model
titanic_test_data['Survived'] = my_model.predict(titanic_test_data)

In [23]:
titanic_test_data

Columns:
	PassengerId	int
	Pclass	int
	Name	str
	Sex	int
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	int
	Survived	int

Rows: 418

Data:
+-------------+--------+-------------------------------+-----+------+-------+-------+
| PassengerId | Pclass |              Name             | Sex | Age  | SibSp | Parch |
+-------------+--------+-------------------------------+-----+------+-------+-------+
|     892     |   3    |        Kelly, Mr. James       |  1  | 34.5 |   0   |   0   |
|     893     |   3    | Wilkes, Mrs. James (Ellen ... |  0  | 47.0 |   1   |   0   |
|     894     |   2    |   Myles, Mr. Thomas Francis   |  1  | 62.0 |   0   |   0   |
|     895     |   3    |        Wirz, Mr. Albert       |  1  | 27.0 |   0   |   0   |
|     896     |   3    | Hirvonen, Mrs. Alexander (... |  0  | 22.0 |   1   |   1   |
|     897     |   3    |   Svensson, Mr. Johan Cervin  |  1  | 14.0 |   0   |   0   |
|     898     |   3    |      Connolly, Miss. Kate     |  0  | 30.0 |   0   |   0   |
|     899     |   2    |  Caldwell, Mr. Albert Francis |  1  | 26.0 |   1   |   1   |
|     900     |   3    | Abrahim, Mrs. Joseph (Soph... |  0  | 18.0 |   0   |   0   |
|     901     |   3    |    Davies, Mr. John Samuel    |  1  | 21.0 |   2   |   0   |
+-------------+--------+-------------------------------+-----+------+-------+-------+
+-----------+---------+-------+----------+----------+
|   Ticket  |   Fare  | Cabin | Embarked | Survived |
+-----------+---------+-------+----------+----------+
|   330911  |  7.8292 |       |    2     |    0     |
|   363272  |   7.0   |       |    1     |    1     |
|   240276  |  9.6875 |       |    2     |    0     |
|   315154  |  8.6625 |       |    1     |    0     |
|  3101298  | 12.2875 |       |    1     |    1     |
|    7538   |  9.225  |       |    1     |    0     |
|   330972  |  7.6292 |       |    2     |    1     |
|   248738  |   29.0  |       |    1     |    0     |
|    2657   |  7.2292 |       |    0     |    1     |
| A/4 48871 |  24.15  |       |    1     |    0     |
+-----------+---------+-------+----------+----------+
[418 rows x 12 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [25]:
submission = titanic_test_data.remove_columns(column_names=['Pclass' , 'Name' , 'Sex' , 'Age' , 'SibSp' , 'Parch' , 'Ticket' , 'Fare' , 'Cabin' , 'Embarked'])

In [27]:
submission

Columns:
	PassengerId	int
	Survived	int

Rows: 418

Data:
+-------------+----------+
| PassengerId | Survived |
+-------------+----------+
|     892     |    0     |
|     893     |    1     |
|     894     |    0     |
|     895     |    0     |
|     896     |    1     |
|     897     |    0     |
|     898     |    1     |
|     899     |    0     |
|     900     |    1     |
|     901     |    0     |
+-------------+----------+
[418 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [28]:
submission.export_csv("../datas/titanic/submission.csv")

In [29]:
titanic_test_data

Columns:
	PassengerId	int
	Pclass	int
	Name	str
	Sex	int
	Age	float
	SibSp	int
	Parch	int
	Ticket	str
	Fare	float
	Cabin	str
	Embarked	int
	Survived	int

Rows: 418

Data:
+-------------+--------+-------------------------------+-----+------+-------+-------+
| PassengerId | Pclass |              Name             | Sex | Age  | SibSp | Parch |
+-------------+--------+-------------------------------+-----+------+-------+-------+
|     892     |   3    |        Kelly, Mr. James       |  1  | 34.5 |   0   |   0   |
|     893     |   3    | Wilkes, Mrs. James (Ellen ... |  0  | 47.0 |   1   |   0   |
|     894     |   2    |   Myles, Mr. Thomas Francis   |  1  | 62.0 |   0   |   0   |
|     895     |   3    |        Wirz, Mr. Albert       |  1  | 27.0 |   0   |   0   |
|     896     |   3    | Hirvonen, Mrs. Alexander (... |  0  | 22.0 |   1   |   1   |
|     897     |   3    |   Svensson, Mr. Johan Cervin  |  1  | 14.0 |   0   |   0   |
|     898     |   3    |      Connolly, Miss. Kate     |  0  | 30.0 |   0   |   0   |
|     899     |   2    |  Caldwell, Mr. Albert Francis |  1  | 26.0 |   1   |   1   |
|     900     |   3    | Abrahim, Mrs. Joseph (Soph... |  0  | 18.0 |   0   |   0   |
|     901     |   3    |    Davies, Mr. John Samuel    |  1  | 21.0 |   2   |   0   |
+-------------+--------+-------------------------------+-----+------+-------+-------+
+-----------+---------+-------+----------+----------+
|   Ticket  |   Fare  | Cabin | Embarked | Survived |
+-----------+---------+-------+----------+----------+
|   330911  |  7.8292 |       |    2     |    0     |
|   363272  |   7.0   |       |    1     |    1     |
|   240276  |  9.6875 |       |    2     |    0     |
|   315154  |  8.6625 |       |    1     |    0     |
|  3101298  | 12.2875 |       |    1     |    1     |
|    7538   |  9.225  |       |    1     |    0     |
|   330972  |  7.6292 |       |    2     |    1     |
|   248738  |   29.0  |       |    1     |    0     |
|    2657   |  7.2292 |       |    0     |    1     |
| A/4 48871 |  24.15  |       |    1     |    0     |
+-----------+---------+-------+----------+----------+
[418 rows x 12 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.